
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, white, #ffea00a1);
    height: 140vh;
  }
  
  .site-header {
    display: grid;
    grid-template-columns: 1fr auto 1fr; /* Uma coluna para o logotipo, outra para os links de navegação, e outra para o botão de login */
    align-items: center;
    padding: 0.5%;
    background-color: #424242;
    color: #fff;
  }
  .site-footer {
    text-align: center;
    flex-direction: row;
    height: 21vh;
  }
  
  .social-icons {
    display: flex;
    gap: 10vw;
    height: 8.5vh;
  }
  
  .social-icon {
    font-size: 1.3rem;
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 6.5vh;
  }
  
  
  .social-icon:hover {
      color: #ffea00; /* Cor ao passar o mouse sobre o ícone */
  }
  .logo {
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
  }
  
  .nav-links {
    display: grid;
    grid-template-columns: repeat(4, auto); /* Quatro colunas para os links de navegação */
    gap: 4vw;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  
  .login-button {
    justify-self: end; /* Alinha o botão de login à direita */
    cursor: pointer;
    margin-right: 5%;
    width: 60px;
  }
  
  
  input[type="text"],
  select,
  textarea {
    width: calc(90% - 16px);
    padding: 8px;
    font-family: Arial, sans-serif;
    font-size: 25px;
    border: 1px solid #ccc;
    border-radius:10px;
    margin-bottom: 40px;
  }
  
  
   /* Estilos para o menu suspenso */
  .dropdown {
    display: flex; /* Utiliza flexbox para organizar os elementos */
    align-items: center; /* Alinha verticalmente os itens */
    justify-content: flex-end; /* Alinha os itens à direita */
    position: relative;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    top: calc(70% + 5px);
    right: 0;
    background-color: #424242;
    min-width: 100px;
    box-shadow: 0px 20px 10px 0px rgba(255, 254, 190, 0.2);
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Estilizando o select dentro do dropdown */
  .dropdown .dropdown-content select {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 4px;
    background-color: #424242;
    color: #fff;
  }
  
  /* Estilizando as opções do select */
  .dropdown .dropdown-content select option {
    background-color: #424242;
    color: #fff;
  }
  
  .profile-image {
    margin-left: 10px; /* Adiciona um espaço entre o menu suspenso e a imagem */
  }
  
.borda {
        border: 5px solid black;
        border-radius: 20px;
        padding: 100px;
        height: 50%;
        width: 50%;
        
        


      }
      
 
table {
    border-radius: 20px;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
  }
  
  th, td {
    
    border: 1px solid black;
    padding: 8px;
    text-align: center;
  }
  td{
    height: 50px;
    width: 200px;
  }
  
  th {
    background-color: #333;
    color: white;
    width: 20px;
    
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #11cf00;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .grafico{
    
    padding-top: 10px;
  }